<form action='/users' method="POST">
  <input type='hidden' name="authenticity_token" value='<%= form_authenticity_token %>'>
  <label>Username
    <input type="text" name="user[username]" value="">
  </label>
  <button>Submit!</button>
</form>
